name: Release Artifacts

on:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  release:
    name: Upload Release Binaries
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: rustup update stable && rustup default stable
      - run: rustup target add x86_64-unknown-linux-musl
      - run: cargo build --target x86_64-unknown-linux-musl --release
      - run: find . -name github-action-doc
      - run: gh release list
